
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.main-content p {
        color: #888;
    font-size: 16px;
    line-height: 1.95;
    font-family: 'Roboto', sans-serif;
}
.card1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%;
}

.card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container1 {
    padding: 20px 16px;
}
.card1 {
    line-height: 2;
}
.card1 h4::after {
    content: " ";
    width: 20%;
  height: 2px;
    left: 0;
 line-height: 2.5;
  background-color: #3a85eb;
  display: block;

}.card1 ul  {
    margin-top:20px;
}
.card1 ul li {
    margin-left: 10px;
}
.card1 ul li a{
    line-height: 2;
    color: black;
    text-align: center;
    
}